<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body>
    <header class="header">
      <nav class="header__nav d-flex justify-content-around">
        <a href="/" class="header__logo1">
          <img src="../assets/images/pleasanter.svg" alt="Pleasanter logo" />
        </a>
        <div class="header__icon">
          <i class="fas fa-bars"></i>
        </div>
        <div class="header__right">
          <div class="header__links">
            <ul>
              <li>
                <a href="#">Applications</a>
              </li>
              <li>
                <a href="#">Key Features</a>
              </li>
              <li>
                <a href="/views/news.html">What's new?</a>
              </li>
              <li>
                <a href="#">Case Study</a>
              </li>
            </ul>
          </div>
          <button id="login" class="btnWhite">Login</button>
          <button id="book" class="btnYellow">Book a demo</button>
        </div>
      </nav>
    </header>

    <section class="blog">
      <div class="container">
        <div class="blog__heading">
          <h2 class="blog__title">Blog</h2>
          <p>
            Stay up to date regarding customer stories, company updates, press
            releases, platform growth, and much more
          </p>
        </div>
        <div class="blog__content">
          <div class="blog__category">
            <h4>Category</h4>
            <ul>
              <li><a href="/views/news.html">View all</a></li>
              <li><a href="/views/news.html">News</a></li>
              <li><a href="/views/news.html">Event</a></li>
              <li><a href="/views/news.html">Blog</a></li>
            </ul>
          </div>
          <div class="blog__list row">
            <div class="blog__item col-lg-6 col-sm-12">
              <div class="blog__item--container">
                <div class="blog__img">
                  <img
                    src="../assets/images/no_image.jpg"
                    alt="blog1"
                    width="100%"
                  />
                </div>
                <div class="blog__info">
                  <div class="blog__tags">
                    <a href="#" class="blog__tag">Blog</a>
                  </div>
                  <h3>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </h3>
                  <p>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </p>
                  <div class="blog__date">
                    <time datetime="07-29-2024">July 27, 2024</time>
                  </div>
                  <p>Read more</p>
                </div>
              </div>
            </div>
            <div class="blog__item col-lg-6 col-sm-12">
              <div class="blog__item--container">
                <div class="blog__img">
                  <img
                    src="../assets/images/no_image.jpg"
                    alt="blog1"
                    width="100%"
                  />
                </div>
                <div class="blog__info">
                  <div class="blog__tags">
                    <a href="#" class="blog__tag">Blog</a>
                  </div>
                  <h3>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </h3>
                  <p>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </p>
                  <div class="blog__date">
                    <time datetime="07-29-2024">July 27, 2024</time>
                  </div>
                  <p>Read more</p>
                </div>
              </div>
            </div>
            <div class="blog__item col-lg-6 col-sm-12">
              <div class="blog__item--container">
                <div class="blog__img">
                  <img
                    src="../assets/images/no_image.jpg"
                    alt="blog1"
                    width="100%"
                  />
                </div>
                <div class="blog__info">
                  <div class="blog__tags">
                    <a href="#" class="blog__tag">Blog</a>
                  </div>
                  <h3>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </h3>
                  <p>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </p>
                  <div class="blog__date">
                    <time datetime="07-29-2024">July 27, 2024</time>
                  </div>
                  <p>Read more</p>
                </div>
              </div>
            </div>
            <div class="blog__item col-lg-6 col-sm-12">
              <div class="blog__item--container">
                <div class="blog__img">
                  <img
                    src="../assets/images/no_image.jpg"
                    alt="blog1"
                    width="100%"
                  />
                </div>
                <div class="blog__info">
                  <div class="blog__tags">
                    <a href="#" class="blog__tag">Blog</a>
                  </div>
                  <h3>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </h3>
                  <p>
                    Registered as A Low-code Development Platform on Azure
                    MarketPlace
                  </p>
                  <div class="blog__date">
                    <time datetime="07-29-2024">July 27, 2024</time>
                  </div>
                  <p>Read more</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog__pagination">
          <a href="#" class="blog__pagination--link">Previous</a>
          <a href="#" class="blog__pagination--link">1</a>
          <a href="#" class="blog__pagination--link">2</a>
          <a href="#" class="blog__pagination--link">3</a>
          <a href="#" class="blog__pagination--link">Next</a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="footer__info">
          <a href="/" class="header__logo">
            <img
              src="../assets/images/footer.svg"
              alt="pleasanter"
              width="170px"
            />
          </a>
          <div class="footer__links">
            <a href="#">Applications</a>
            <a href="#">Key Features</a>
            <a href="#">Case Study</a>
            <a href="#">What's new?</a>
          </div>
          <div class="footer__socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer__last">
          <p>
            This website is operated and managed by CodLUCK Technology ., JSC -
            an authorized partner of Implem Inc.,
          </p>
          <p>
            All of Pleasanter trademarks are used with permission from Implem
            Inc.
          </p>
        </div>
      </div>
    </footer>

    <script src="../assets/js/vendor.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
