.feature {

    background-color: $white;
    text-align: center;

    &__flex {
        position: relative;
        margin-bottom: 80px;

        img {
            margin-bottom: 30px;
        }
    }
}