.feedback {
    background-color: $gray;

    &__heading {
        margin-bottom: 80px;

        h2 {
            margin: 0 auto 24px;
        }

        p {
            margin-bottom: 24px;
        }
    }
}