.feedback {
    background-color: $gray;
    position: relative;

    &__heading {
        @media (max-width: 1000px) {
            margin-bottom: 0;
        }
    }

    &__function {
        flex-direction: column;
        background-color: $red;
        margin-bottom: 30px;

        &--download {
            padding: 8px 24px;
            border: none;
            font-weight: bold;
            margin: 10px auto 5px;
            
            @include media-breakpoint-up(sm) {
                margin: auto 15px auto 23px;
            }
        }

        &--support {
            padding: 8px 24px;
            border: none;
            font-weight: bold;
            color: $white;
            background-color: $black;
            margin: 0px auto 10px;

            @include media-breakpoint-up(sm) {
                margin: auto 0;
            }
        }

        @include media-breakpoint-up(sm) {
            top: 0;
            height: 100px;
            flex-direction: row;
            justify-content: center;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            width: 536px;
            right: 0;
            top: 110px;
        }
    }

    &__item {
        max-width: 580px;
    }

    &__info {
        display: block;

        @include media-breakpoint-up(sm) {
            display: grid;
            grid-template-columns: 1fr 3fr 4fr;
        }
    }

    &__avatar {
        grid-column: 1;

        @media (max-width: 500px) {
            margin-bottom: 20px;
        }
    }

    &__name {
        grid-column: 2;
    }

    &__logo {
        padding-left: 0;
        border-left: none;

        @include media-breakpoint-up(sm) {
            grid-column: 3;
            padding-left: 30px;
            border-left: solid 1px $black;
        }
    }

    &__buttons {
        display: flex;
        justify-content: end;
    }

    .slick-dots {
        top: 120%;
    }
}