.header {
    position: relative;
    // display: flex;
    // justify-content: center;

    border: solid 1px #000000;

    &__logo1 {
        img {
                height: 100%;
        }
    }
    &__nav {
        position: relative;
        padding: 14px 0;
    }

    &__right {
        display: flex;

        @media (max-width: 970px) {
            display: none;
        }
    }

    &__links {
        display: flex;
        color: #000000;
        text-decoration: none;
        margin-top: 12px;

        > ul {
            list-style-type: none;
            display: flex;
            gap: 24px;
            margin-right: 20px;
            
            > li {
                align-items: center;
            }
        }

    }
    // .btnYellow {
    //     position: absolute;
    //     right: 0;
        
    // }
    .btnWhite {
        margin: 0 20px 0;
    }

    &__icon {
        display: none;

        @media (max-width: 970px) {
            display: inline-block;
            right: 0;
            margin-top: 8px;
        }
    }

}