.platform {

    background-color: $pastelGray;
    text-align: center;

    &__flex {
        margin-bottom: 80px;

        img {
            margin-bottom: 30px;
        }
    }

    &__button {
        button {
           margin: 0 5px 10px;
        }
    }
}