.story {
    background-color: $white;
    padding: 120px 0 125px;
    overflow: hidden;
    
    &__heading {
        margin-bottom: 60px;
        position: relative;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }

        .btnWhite {
            width: 110px;
            
            @include media-breakpoint-up(md) {
                position: absolute;
                right: 0;
                bottom: 24px;
            }
        }
    }

    &__slider {

            @include media-breakpoint-up(sm) {
                margin: 0;
            }

            .slick-track {
                margin-left: unset;
            }
        }

    &__item {
        padding: 0;
            margin-bottom: 32px;
            transition: 0.5s all;
        
            @include media-breakpoint-up(lg) {
                margin-bottom: 48px;
            }
        
            a {
                &:hover {
                    text-decoration: none;
                }
            }
    }

    &__tags {
        margin: 25px 0;
    }

    &__buttons {
        display: flex;
        justify-content: end;
    }

    .slick-dots {
        top: 106%;
    }

}