.support {
    background-color: $white;
    text-align: center;
    &__heading {
        margin-bottom: 80px;

        h2 {
            margin: 0 auto 24px;
        }

        p {
            margin-bottom: 24px;
        }
    }

    &__flex {
        text-align: center;

        > div {
            > h3 {
                    margin: 30px 0;
                }
            > p {
                margin: 0;
            }
            > a {
                text-decoration: underline;
            }
            > button {
                margin-top: 20px;
            }
        }
    }

    &__free {
        @media (max-width: 990px) {
            margin-bottom: 30px;
        }
    }
    &__paid {
        > img {
            padding: 9px 0;
        }
    }
}