.support {
    background-color: $white;
    text-align: center;

    &__flex {
        > div {
            > h3 {
                    margin: 30px 0;
                }
            > p {
                margin: 0;
            }
            > a {
                text-decoration: underline;
            }
            > button {
                margin-top: 20px;
            }
        }
    }

    &__free {
        margin-bottom: 30px;
        
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }
    &__paid {
        > img {
            padding: 9px 0;
        }
    }
}