.modalVideo {
    &__video {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -16px;
        right: -8px;
        z-index: 9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #fff !important;
        opacity: 1 !important;
        outline: none !important;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
    }

    &__inner {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: auto;
        height: 0;
        padding-bottom: 56%;
        z-index: 1;
    }

    &__playAction {
        position: relative;
        z-index: 10;
    }
}