.slick {
    &-slider {
        // @include media-breakpoint-up(lg) {
        //     margin: 0px -15px;
        // }
    }

    &-slide {
        user-select: text;
        @include media-breakpoint-up(lg) {
            padding-right: 15px;
        }
        margin-right: 20px;
    }

    &-track {
        
    }

    // style dots
    &-dots {
        li {
            width: 15px;
            display: inline-flex;
            align-items: flex-end;

            button {
                background-color: #C0BFBF;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                padding: 0px;
                margin: 0px;
        

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: #0D0D0D;
                    height: 9px;
                    width: 9px;
                }
            }
        }
        @media (max-width: 480px) {
            display: flex;
            justify-content: center;
        }
    }

    &__custom-arrow {
        padding: 20px;
        border: solid 1px $black;
        border-radius: 50%;
        cursor: pointer;

        &::before {
                opacity: 1 !important;
                position: absolute;
                transform: translate(-50%, -40%);
            }
    }

    &__prevBtn {
        margin-right: 15px;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.57 5.93018L3.5 12.0002L9.57 18.0702' stroke='%232E2E2E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.4999 12H3.66992' stroke='%232E2E2E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }

    &__nextBtn {
        &::before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4302 18.0698L20.5002 11.9998L14.4302 5.92982' stroke='%232E2E2E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 12L20.33 12' stroke='%232E2E2E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
}